
<div *ngIf="pokazProdukty">
  <app-produkt [produkt]="produkty[0]" (dodajDoKoszyka)="dodajDoKoszyka($event)"></app-produkt>
  <app-produkt [produkt]="produkty[1]" (dodajDoKoszyka)="dodajDoKoszyka($event)"></app-produkt>
  <app-produkt [produkt]="produkty[2]" (dodajDoKoszyka)="dodajDoKoszyka($event)"></app-produkt>
  <app-produkt [produkt]="produkty[3]" (dodajDoKoszyka)="dodajDoKoszyka($event)"></app-produkt>
  <app-produkt [produkt]="produkty[4]" (dodajDoKoszyka)="dodajDoKoszyka($event)"></app-produkt>
  
</div>

<app-koszyk [wartoscKoszyka]="wartoscKoszyka"></app-koszyk>

<button (click)="wyczyscKoszyk()" style="margin-left: 10px; background: none; border: none;">
  🗑️ Wyzeruj koszyk
</button>

<button (click)="toggleProdukty()">
  {{ pokazProdukty ? 'Ukryj Produkty' : 'PokazProdukty' }}
</button>

